######################
### CLI (required) ###
######################

# OPENAI_API_KEY
# Get it from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# GPT_MODEL
# choose between gpt-4-1106-preview, gpt-3.5-turbo-16k-0613, gpt-4 and gpt-3.5-turbo-0613
GPT_MODEL="gpt-4-1106-preview"

# CONTEXT_WINDOW_TOKENS:
# The size of the context window, used for the agent's short-term memory
CONTEXT_WINDOW_TOKENS=128000

# MAX_RESPONSE_TOKENS
# The maximum size of the LLM's response
MAX_RESPONSE_TOKENS=4096

# SERP_API_KEY
# Get it from https://serpapi.com
# This is necessary for the webScraper.search script to work
SERP_API_KEY=

##########################
### Browser (required) ###
##########################

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# only required for `next start`
NEXTAUTH_SECRET=

#########################
### Common (optional) ###
#########################

# Custom URL for the OpenAI API endpoint
OPENAI_API_BASE_URL=
