################
### REQUIRED ###
################

# OPENAI_API_KEY
# Get it from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# GPT_MODEL
# choose between gpt-3.5-turbo-16k-0613, gpt-4-0613 and gpt-3.5-turbo-0613
GPT_MODEL="gpt-4-0613"

# CONTEXT_WINDOW_TOKENS:
# The size of the context window, used for the agent's short-term memory
CONTEXT_WINDOW_TOKENS=16000

# MAX_RESPONSE_TOKENS
# The maximum size of the LLM's response
MAX_RESPONSE_TOKENS=2000

# BRAVE_API_KEY
# Get it from https://api.search.brave.com
# This is necessary for the webScraper.search script to work
BRAVE_API_KEY=