.Chat {
  width: 80%;
  background-color: #121212;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #2b2b30;
}

.DisclaimerRibbon {
  background-color: black;
  color: white; 
  text-align: center;
  font-size: 12px; 
  padding: 10px; 
  position: absolute; 
  width: 80%;
  bottom: 0; 
  z-index: 1000;
  border-radius: 10px 10px 0 0;
  border: 2px solid red; 
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

.ButtonWrapper {
  display: flex;
  gap: 10px; 
}

.CloseDisclaimer {
  cursor: pointer;
  padding: 10px 20px; 
  font-weight: bold;
  color: red; 
}

.CloseWithoutTracking {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  color: white; 
}

.Chat__Export {
  cursor: pointer;
  font-size: 24px;
  color: #ff572e;
  transition: color 0.3s ease-in-out;
  margin: 10px;
  position: absolute;
  top: 10px; 
  right: 10px;
}

.Chat__Export:hover {
  color: #ff4516;
}

.Messages {
  text-align: left;
  padding: 20px;
  overflow: auto;
  flex: 1;
  border-bottom: 1px solid #2b2b30;
}

.Message {
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #1a1a1d;
  border-radius: 5px;
  color: #f5f5f5;
}

.Message.user {
  background-color: #4a90e2;
  color: #f5f5f5;
}

.Message.evo {
  background-color: #121212;
  color: #f5f5f5;
  border: 1px solid #bee4e2;
}

.Message pre code {
  word-break: break-word;
  white-space: pre-line;
}

.SendMessage {
  display: flex;
  padding: 10px;
}

.SenderName {
  font-weight: 600;
}

.SendMessage input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #202020;
  color: #f5f5f5;
}

.FeedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.FeedbackTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.FeedbackButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.UpvoteActive {
  color: #ff572e;  /* or your desired accent color */
}

.DownvoteActive {
  color: #ff572e;  /* or your desired accent color */
}


.DetailedFeedback a {
  color: #ff572e; /* or any color you prefer */
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline;
}

.SendMessage button {
  background-color: #ff572e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #ff4516;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24),
      0 2px 10px 0 rgba(0, 0, 0, 0.19);
  }
}

.Chat__Input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #202020;
  color: #f5f5f5;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.Chat__Container input {
  font-size: 15px;
}

.Chat__Container {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.Chat__Btn {
  background-color: #ff572e;
  height: 3.25rem;
  border: none;
  color: #1f1f1f;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  padding: 10px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  &:hover {
    background-color: #ff4516;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24),
      0 2px 10px 0 rgba(0, 0, 0, 0.19);
  }
}

.Message {
  background: #1a1a1d;
}

.Spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(255, 0, 0);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
