.DojoConfig {
  display: flex;
  height: 100%; /* Add this to take full height */
}

.DojoConfig-apikey {
  position: fixed;
  color: #f5f5f5;
  background: #000000BB;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 250px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 250px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 250px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 250px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 0 250px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 0 250px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 0 250px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 0 250px;
  }
}

.DojoConfig {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 25x25 */
  background: url("/public/wallpaper-bw.png") repeat 0 0 / 461px 250px;
  -webkit-animation: bg-scrolling-reverse 5s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 5s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 5s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 5s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.DojoConfig::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}
