.App {
  text-align: center;
  color: #ffeba0;
  background-color: #000000b8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffeba0;
}

.App-link {
  color: #ffeba0;
}

.App button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffeba0;
  background-color: #181818b8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App button:hover {
  background-color: #252525;
}

.FeaturesSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000b8;
}

.Features {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffeba0;
  align-items: stretch;
  justify-content: center;
  max-width: 75vw;
}

.Feature {
  max-width: 200px;
}

.Features .Feature {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #181818;
  height: auto; /* Height grows to the text inside */
}

.Features h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bolder;
}

.Features p {
  font-size: 1em;
  font-weight: bold;
}

.HowItWorksSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HowItWorks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #00000000b8;
  color: #ffeba0;
  align-items: stretch;
  justify-content: center;
  max-width: 75vw;
}

.HowItWorksStep {
  max-width: 200px;
}

.HowItWorks .HowItWorksStep {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  height: auto; /* Height grows to the text inside */
}

.HowItWorks h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bolder;
}

.HowItWorks p {
  font-size: 1em;
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 500px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 500px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 500px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 0 500px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 0 500px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 0 500px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 0 500px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 0 500px;
  }
}

body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("/public/wallpaper-bw.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 5s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 5s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 5s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 5s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

