.Sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.Content {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
}

.Logo {
  width: 100%;
  margin-bottom: 20px;
}

.Workspace {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.File {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.File:hover {
  cursor: pointer;
  background-color: #ff572e;
}

.BuiltWithLove {
  font-size: 0.8rem;
  color: #f5f5f5;
  margin-top: 12rem;
}

.ImageBanner {
  width: 100%;
  max-width: 200px;
  margin-top: 2rem;
}
.Scripts,
.Workspace {
  background-color: #171717;
  padding: 1rem;
  margin: 15px 0 15px 0;
  color: #f5f5f5;
  width: calc(100% - 30px);
  box-sizing: border-box;
  border-radius: 5px;
}

.File,
.Script {
  padding: 10px;
  margin: 10px 0;
  background-color: #171717;
  width: auto;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #4b4b50; /* Increased border visibility */
}

.Scripts,
.Workspace {
  color: white;
  background-color: #171717;
  border: 1px solid #4b4b50;
}

.UploadButton {
  margin: 1rem 0 1rem 0;
  background-color: #ff572e;
  height: 2.25rem;
  border: none;
  color: #1f1f1f;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  padding: 10px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  &:hover {
    background-color: #ff4516;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24),
      0 2px 10px 0 rgba(0, 0, 0, 0.19);
  }
}

.ImageBanner {
  width: 50%;
  margin: 0 1rem 0 1rem;
}

.BuiltWithLove,
.ImageBanner,
.Footer {
  margin-top: auto;
}

.Footer {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
  width: 90%;
  margin: 2rem 0 2rem 0;
  box-sizing: border-box;
}

.Footer a {
  color: white;
  text-decoration: none;
}

.Footer__Links {
  color: white;
  font-size: larger;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Footer__Links:hover {
  opacity: 1;
}

.Polywrap {
  justify-content: center;
}
