.DojoConfig {
  @apply absolute inset-0 z-50 bg-neutral-900/80;
}

.DojoConfig-container {
  @apply fixed left-1/2 top-1/2 flex w-96 -translate-x-1/2 -translate-y-1/2 flex-col gap-4 rounded-lg bg-neutral-900 p-12 text-neutral-50;
}

.DojoConfig__Btn {
  @apply cursor-pointer rounded-xl border-none bg-orange-600 p-2.5 text-white transition-all hover:bg-orange-700;
}

.DojoConfig__Input {
  @apply rounded border border-neutral-600 bg-neutral-950 p-2.5 text-neutral-50 outline-none transition-all;
}

.DojoConfig__Select {
  @apply rounded bg-neutral-950 p-2.5 text-neutral-50;
}
