/* TODO - remove specific H3 rule and apply per-element */
h3 {
  @apply text-lg font-semibold;
}

.Sidebar {
  @apply box-border flex h-full w-full flex-col items-center overflow-auto p-4;
}

.Content {
  @apply flex h-auto w-full flex-col items-center;
}

.Logo {
  @apply mb-5 w-full max-w-sm;
}

.Workspace {
  @apply flex h-auto w-full flex-col justify-between;
}

.File {
  @apply flex cursor-pointer items-center justify-between hover:bg-orange-700;
}

.Scripts,
.Workspace {
  @apply my-4 box-border w-full rounded bg-neutral-900 p-4 text-neutral-50;
}

.File,
.Script {
  @apply my-2.5 box-border w-auto rounded border-2 border-neutral-500 bg-neutral-900 p-2.5;
}

.Scripts,
.Workspace {
  @apply border border-neutral-500 bg-neutral-900 text-white;
}

.UploadButton {
  @apply my-4 inline-block h-9 cursor-pointer rounded-xl border-none bg-orange-600 px-6 py-2.5 text-center text-neutral-900 shadow-md outline-none transition-all hover:bg-orange-700;
}

.DownloadButton {
  @apply my-4 inline-block h-9 cursor-pointer rounded-xl border-none bg-orange-600 px-6 py-2.5 text-center text-neutral-900 shadow-md outline-none transition-all hover:bg-orange-700;
}

.Footer {
  @apply my-8 box-border flex w-10/12 flex-col gap-4;
}

.Footer a {
  @apply text-white;
}

.Footer__Links {
  @apply flex cursor-pointer justify-between text-lg text-white opacity-80 transition-all hover:opacity-100;
}

.Polywrap {
  @apply flex flex-col items-center gap-2;
}

.ImageBanner {
  @apply w-full max-w-[250px];
}

.BuiltWithLove {
  @apply text-neutral-50;
}
