.DojoError {
  @apply flex h-full w-4/5 flex-col border border-neutral-700 bg-neutral-900 text-neutral-50;
}

.Error {
  @apply flex-1 overflow-auto border-b border-b-neutral-700 p-5;
}

.Message {
  @apply my-4 rounded bg-orange-600 px-4 py-2.5 text-neutral-50;
}
