name: ci

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js 18.15
      uses: actions/setup-node@v1
      with:
        node-version: 18.15

    - name: Install dependencies
      run: yarn

    - name: Build
      run: yarn build
      env:
        CI: false

    - name: Unit tests
      run: yarn test:unit
